.frameChild {
  width: 603px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.hireMe {
  color: var(--color-coral);
}
.whyHireMeContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 100%;
  font-weight: 600;
  font-family: inherit;
}
.whyHireMeWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.loremIpsumDolor {
  margin: 0;
  width: 444px;
  height: 78px;
  font-size: var(--font-size-xl);
  line-height: 23px;
  color: var(--color-darkgray);
  min-height: 78px;
  max-width: 100%;
}
.loremIpsumDolor,
.projectCompleted,
.projectCounter {
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
}
.projectCounter {
  height: 47px;
  font-weight: 500;
  min-width: 83px;
}
.projectCompleted {
  width: 177px;
  font-size: var(--font-size-xl);
  color: var(--color-slategray);
}
.projectCountContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 223px;
  max-width: 100%;
}
.div,
.projectCompleted1 {
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
}
.div {
  height: 47px;
  font-weight: 500;
  min-width: 83px;
}
.projectCompleted1 {
  width: 177px;
  font-size: var(--font-size-xl);
  color: var(--color-slategray);
}
.hireMeProjectsContainer,
.projectCountContainer1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.projectCountContainer1 {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  min-width: 223px;
}
.hireMeProjectsContainer {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-400);
}
.shopTropicalPlants {
  height: 42px;
  position: relative;
  font-size: var(--font-size-13xl);
  letter-spacing: -0.01em;
  font-weight: 600;
  font-family: var(--font-lufga);
  color: var(--color-gray-600);
  text-align: left;
  display: inline-block;
  min-width: 115px;
}
.shopTropicalPlantsWrapper {
  cursor: pointer;
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-12xl) var(--padding-39xl);
  background-color: transparent;
  border-radius: var(--br-13xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.shopTropicalPlantsWrapper:hover {
  background-color: var(--color-darkslategray-400);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
}
.frameParent {
  width: 696px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-28xl);
  min-width: 696px;
  max-width: 100%;
}
.instanceParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
  max-width: 100%;
  gap: var(--gap-0);
}
.desktop1Inner,
.frameWrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.frameWrapper {
  flex: 1;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-500);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-84xl) var(--padding-51xl);
}
.desktop1Inner {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-78xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-darkslategray-300);
  font-family: var(--font-lufga);
}
@media screen and (max-width: 1425px) {
  .frameChild,
  .frameParent {
    flex: 1;
  }
  .instanceParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .frameParent {
    min-width: 100%;
  }
  .desktop1Inner {
    padding-bottom: var(--padding-44xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .whyHireMeContainer {
    font-size: var(--font-size-32xl);
    line-height: 51px;
  }
  .div,
  .projectCounter {
    font-size: var(--font-size-10xl);
  }
  .hireMeProjectsContainer {
    flex-wrap: wrap;
  }
  .frameParent {
    gap: var(--gap-4xl);
  }
  .frameWrapper {
    gap: var(--gap-29xl);
    padding: var(--padding-48xl) var(--padding-16xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .whyHireMeContainer {
    font-size: var(--font-size-19xl);
    line-height: 38px;
  }
  .loremIpsumDolor {
    font-size: var(--font-size-base);
  }
  .projectCounter {
    font-size: var(--font-size-3xl);
  }
  .projectCompleted {
    font-size: var(--font-size-base);
  }
  .div {
    font-size: var(--font-size-3xl);
  }
  .projectCompleted1 {
    font-size: var(--font-size-base);
  }
  .frameWrapper {
    gap: var(--gap-5xl);
    padding-top: var(--padding-25xl);
    padding-bottom: var(--padding-25xl);
    box-sizing: border-box;
  }
  .desktop1Inner {
    padding-bottom: var(--padding-22xl);
    box-sizing: border-box;
  }
}
